<div class="row">
  <div class="col">
    <blockquote class="blockquote">
      <h2>Notes for all</h2>
    </blockquote>
    <div>
      <h3>
        <p>If you want to create and save notes, you can <a [routerLink]="['/account/register']">register</a>.</p>
        <p>If you already registered you can <a [routerLink]="['/account/login']">login</a>.</p>
      </h3>
    </div>
    <div class="d-flex align-items-end">
      <h3>
        <p>Now saved: {{countOfNotes}} notes.</p>
      </h3>
    </div>
  </div>
</div>
